.aboutus-box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  background-color: #efb934;
}

.aboutus-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0rem 10rem;
}

.logo-aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo-aboutUs {
  width: 70%;
}

.more-from-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 10px;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  gap: 10px;
}

.socials > span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 3px;
}

.socials span a {
  color: inherit;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.footer {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  margin: 0rem 10rem;
}

.footer a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer span {
  font-weight: bold;
}

.app-logo {
  width: 70px;
  height: 75px;
}

.app-logo-text {
  height: 55px;
}
