.searchBox {
  margin: 2rem 6rem;
}

.searchBox h2 {
  margin: 30px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*  display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 0px 150px; */
  gap: 30px;
}
